<!doctype html>
<html lang="en">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Personal portfolio for Guillaume Bournique">
    <meta name="author" content="Guillaume Bournique">
    <title>Guillaume Bournique</title>

	{% load static %}
	<!-- Loading css from tinyMCE app -->
	<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
	<!-- Minified customised CSS, compiled Materialize SSAS using Koala -->
	<link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!-- Additional CSS files -->
	<link href="{% static 'css/googleapis.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

	<header>
		{% include "main/includes/navbar.html" %}
		{% include "main/includes/messages.html" %}
	</header>

	<main>
        <div class="container">
            <div class="row">
                <center>
                    <br><br><br><br><br>
                    <h3>{{message}}</h3>
                    <br>
                    <a href="/" id="backhome-button" class="btn-large waves-effect waves-light teal lighten-1">Back Home</a>
                </center>
            </div>
        </div>
	</main>

    <footer class="page-footer teal" style="position:fixed;bottom:0;left:0;width:100%;">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


  
</body>

<!-- Compiled and minified JavaScript -->
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'tinymce/js/prism.js' %}"></script>
<script>M.AutoInit();</script>

</html>