{% extends 'main/index.html' %}

{% block content %}

    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                &nbsp&nbsp&nbsp&nbsp&nbsp<a href="/" class="breadcrumb">Home</a>
                <a href="#!" class="breadcrumb">{{cat_name}}</a>
            </div>
        </div>
    </nav>


    <br>    
    <div class="container"> 
        <div class="row">
            {% for subcategory, first_article_url in first_articles_urls.items %}
                <div class="col s12 m6 l4">
                  <a href="{{first_article_url}}", style="color:#000">
                    <div class="card medium">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ subcategory.image.url }}" height=300>
                                <span class="card-title">{{subcategory.subcategory_name}}</span>
                            </div>
                            <div class="card-content">
                                <p>{{subcategory.summary}}<br><br><br></p>
                            </div>
                            <div class="card-action">
                                <a href="{{first_article_url}}">View</a>
                            </div>
                        </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <br><br><br><br><br>

{% endblock %}