# TEMP
README*.md
app/tests
docker
/app/conftest.py
/githooks
/k8s
/travis_steps

# Add any directories, files, or patterns you don't want to be tracked by version control
app/media/
app/images/
app/main/migrations/*
/bin/
/build/
/static/
.*/
/logs/
/plugins/
*__pycache__*
*.DS_Store
tags
/tmp/
/venv/
*.dat
*.code-workspacest

.pytest_cache

# ignore python compiled bytecode files
*.pyc
*.python-version

# ignore pytest-cov output
.coverage
.coverage.*
coverage_html_report/
cov_html/

# ignore environment variables
app/.env
.env
