{% load static %}
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center teal-text text-darken-1">Portfolio App Demo<br></h1>
      <div class="row center">
        <h5 class="header col s12 light"><br><br>Django web application template to create a personal portfolios.</h5>
        <br><br>
      </div>
      <div class="row center">
        <a href="/items" id="viewitems-button" class="btn-large waves-effect waves-light gray darken-1">View Items</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{% static 'background1.jpg' %}" alt="Unsplashed background img 1"></div>
</div>

          

        

        