{% load static %}  
{% comment %} <div class="container">
  <div class="section">
    <div class="row">

        <nav class="teal lighten-1" role="navigation">
          <div class="container"> 
            <div class="nav-wrapper text-lighten-4">
              <div class="col s12">
                <a href="/items" class="breadcrumb">All Items</a>
                <span href="/items/{{category_slug}}" class="breadcrumb">{{category_name}}</span>
                <span href="/items/{{category_slug}}/{{item_slug}}" class="breadcrumb">{{item.item_name}}</span>
              </div>
            </div>
          </div>
        </nav>
      
    </div>
  </div>
</div> {% endcomment %}

<div class="navbar-fixed">
  <nav class="teal lighten-1" role="navigation">
    <div class="container"> 
      <div class="nav-wrapper text-lighten-4">
        <div class="col s12">
          <a href="/items" class="breadcrumb">All Items</a>
          <span href="/items/{{category_slug}}" class="breadcrumb">{{category_name}}</span>
          <span href="/items/{{category_slug}}/{{item_slug}}" class="breadcrumb">{{item.item_name}}</span>
        </div>
      </div>
    </div>
  </nav>
</div>