{% load static %} 
<div class="container">
  <div class="section">
    <div class="row">

    <!--   Icon Section   -->
    {% comment %} All icons at https://materializecss.com/icons.html {% endcomment %}
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">Morbi ultrices faucibus turpis, a commodo arcu fermentum vel. Morbi vitae lorem lobortis, varius urna nec, accumsan lectus. Ut sagittis, purus vitae consequat vulputate, quam massa lacinia nisl, tincidunt dignissim quam mauris a libero. Pellentesque venenatis gravida quam vitae feugiat. Nullam nec mollis ligula.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5>User Experience Focused</h5>

          <p class="light">Curabitur vel nibh lorem. Vestibulum et ante non ligula vulputate fermentum. Morbi faucibus nisi leo, sed ultricies nulla condimentum ut. Vivamus sem urna, consequat id tristique ut, auctor non nisl. Nunc semper lectus at nibh posuere, porttitor ultricies massa ornare. Phasellus non vulputate ex.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to deploy on AWS</h5>

          <p class="light">Morbi tempus neque in turpis tincidunt placerat. Nullam vehicula turpis nec ipsum sollicitudin, ac ornare est ornare. Vivamus aliquet tincidunt congue. Nulla feugiat libero ligula, at mollis erat tempus quis. Fusce in aliquam mi, eu commodo nibh. Suspendisse hendrerit congue imperdiet.</p>
        </div>
      </div>

    </div>
  </div>
</div>
