{% load static %}  
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">

        <div class="container"> 
          <div class="row">

            <div class="col s12, m8, l8">
              <h4>{{item.item_name}}</h4>
              {% comment %} <p style="font-size:70%">Published {{item.date_published}}</p> {% endcomment %}
              {{item.content|safe}}
            </div>
            
            <div class="col s12 m4 l4">
              <ul class="collapsible popout">
                {% for item in sidebar %}
                  {% if forloop.counter0 == this_item_idx %}
                    <li class="active">
                      <div class="collapsible-header"><i class="material-icons">visibility</i>{{item.item_name}}</div>
                    </li>
                  {% else %}
                    <li>
                      <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>{{item.item_name}}</div>
                      <div class="collapsible-body">
                        <p><a href="/items/{{category_slug}}/{{item.item_slug}}"><button class="btn waves-effect waves-light right-align" style="background-color:gray; color:white">Go</button></a></p>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>