{% load static %}

<div class="navbar-fixed">
  <nav style="background-color:white">

    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <img class="img-responsive" style="width:60px; height:50px; margin-top:4px" src="{% static 'Logo.png' %}">
      </a>

      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      
    </div>
  </nav>

</div>

<ul id="nav-mobile" class="sidenav">
  <li><a href="/"><i class="material-icons">home</i>Home</a></li>
  <li><a href="/items"><i class="material-icons">widgets</i>Items</a></li>
  <li><a href="/contact"><i class="material-icons">chat</i>Contact</a></li>
</ul>