{% load static %}
  <nav class="white" role="navigation">

    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <img class="img-responsive" style="width:60px; height:50px; margin-top:5px" src="{% static 'Logo.png' %}">
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>