  {% load static %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Guillaume Bournique</h1>
        <div class="row center">
          <h5 class="header col s12 light">Hi, my name is Guillaume, I enjoy programming in Python and creating web applications.</h5>
        </div>
        <div class="row center">
          <!--<a href="mailto:guillaumebournique@gmail.com" id="emailme-button" class="btn-large waves-effect waves-light teal lighten-1">Email Me</a>-->
          <a href="/email" id="emailme-button" class="btn-large waves-effect waves-light teal lighten-1">Email Me</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'background1.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>

          

        

        